numpy
pandas
scipy
matplotlib
seaborn
tqdm
yfinance
scikit-learn
statsmodels
tensorflow
streamlit
plotly
pandas-datareader
requests
beautifulsoup4
feedparser
nltk
spacy
textblob
vaderSentiment
dash
dash-bootstrap-components
openpyxl
nbconvert
pdfkit
python-docx
python-dateutil
transformers